[submodule "apps/chat"]
	path = apps/chat
	url = https://github.com/quyenanh198/Chat.git
[submodule "apps/cadence2"]
	path = apps/cadence2
	url = https://github.com/quyenanh198/Cadence2.git
[submodule "apps/tts-studio"]
	path = apps/tts-studio
	url = https://github.com/quyenanh198/TTS-Studio.git
[submodule "apps/stock-site"]
	path = apps/stock-site
	url = https://github.com/quyenanh198/quyenanh198.github.io.git
[submodule "apps/ntvv"]
	path = apps/ntvv
	url = https://github.com/quyenanh198/ntvv.git
[submodule "apps/vmahjong"]
	path = apps/vmahjong
	url = https://github.com/quyenanh198/VMahjong.git
[submodule "apps/blockpuzzle"]
	path = apps/blockpuzzle
	url = https://github.com/quyenanh198/BlockPuzzle.git
